/* Algemene stijlen */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif,
}

/* Navigatiebalk */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #CDD5DC;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.logo-image {
    max-height: 40px; 
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

input {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

/* Placeholder voor afbeelding met quote */
.image-placeholder {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-image: url("/images/strand.jpg");
    background-size: 100% 100%;
    filter: grayscale(100%);
}

.quote {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.quote1 {
    font-size: 20px;
    font-style: italic;
    color: black;
}

/* Layout van de tekstblokken */
.content-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Linkerkant met h1 en tekstblok */
.left-side {
    text-align: left;
    width: 45%;
    font-size: 18px;
}

.left-side h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.text-block {
    margin-bottom: 0px;
}

.text-block {
    margin-bottom: 0px;
}

.image-under-text img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
}

/* Rechterkant met tekstblok en afbeelding */
.right-side {
    text-align: left;
    width: 45%;
    font-size: 18px;
}

.image-beside-text img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
}

/* Sectie voor artikelen */
.articles-section {
    padding: 0px;
    text-align: center;
}

.articles-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.article {
    width: 45%;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
}

.article h3 {
    font-size: 20px;
}

.article p {
    margin-top: 10px;
}

.article button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

.article button:hover {
    background-color: #777;
}

/* Nieuwe sectie voor teksten en quote */
.additional-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Linkerkant met tekst en quote */
.additional-section .left-side {
    text-align: left;
    width: 50%;
    padding-top: 75px;
}

.additional-section .right-side {
    text-align: left;
    width: 35%;
}

/* Handige links sectie */
.additional-section .right-side h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.additional-section .right-side ul {
    list-style-type: none;
    padding: 0;
}

.additional-section .right-side ul li {
    margin-bottom: 10px;
}

.additional-section .right-side ul li a {
    text-decoration: none;
    color: #555;
}

.additional-section .right-side ul li a:hover {
    color: #333;
    text-decoration: underline;
}

/* Artikelen Sectie */

/*.main {
    text-align: center;
    padding: 400px 20px;
}
*/
.article {
    min-width: 200px;
    max-width: 300px;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.article-number {
    font-size: 24px;
    font-weight: bold;
}

/* Profielpagina */
main {
    padding: 40px 50px;
}

/* Persoonlijke Gegevens */
.users {
    font-size: 18px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-details {
    text-align: left;
}

.profile-details p {
    margin: 5px 0;
    font-size: 18px;
}

/* Aangewezen Leden */
.designated-members {
    display: flex;
    gap: 5%;
    padding: 20px 0;
}

.designated-members .member {
    text-align: center;
}

.designated-members .member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* contact */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20%;
}

.contact-box {
    background-color: #f0f0f0;
    padding: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 5px;
    align-items: center; 
    text-align: center; 
}

.contact-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-box h2 {
    margin-top: 0;
}

.contact-box button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contact-box button:hover {
    background-color: #555;
}

/* signup */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup-image {
    position: relative;
    width: 45%;
}

.signup-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.continue-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.continue-button:hover {
    background-color: #555;
}


/* Footer sectie */
footer {
    padding: 20px;
    background-color: #CDD5DC;
    color: white;
    text-align: center;
}

.footer-content .logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.main-content{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.main-content h1{
    padding-bottom: 10px;
}

.main-content h2{
    padding-top: 30px;
    font-size: 25px;
}

.main-content h3{
    padding-left: 0px;
    font-size: 20px;
}

.main-content p{
    padding-left: 20px;
    font-size: 18px;
}

.main-content a{
    padding-left: 20px;
    font-size: 18px;
}




